@import "tailwindcss";
@media print {
    body * {
        visibility: hidden;
    }
    .invoice-section,
    .invoice-section * {
        visibility: visible;
    }
    .invoice-section {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: none;
    }
    .invoice-section button {
        display: none;
    }
}